/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

button {
  outline: none; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/helvetica/Helvetica.eot");
  src: url("../fonts/helvetica/Helvetica.eot") format("embedded-opentype"), url("../fonts/helvetica/Helvetica.woff2") format("woff2"), url("../fonts/helvetica/Helvetica.woff") format("woff"), url("../fonts/helvetica/Helvetica.ttf") format("truetype"), url("../fonts/helvetica/Helvetica.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/helvetica/Helvetica.eot");
  src: url("../fonts/helvetica/Helvetica.eot") format("embedded-opentype"), url("../fonts/helvetica/Helvetica.woff2") format("woff2"), url("../fonts/helvetica/Helvetica.woff") format("woff"), url("../fonts/helvetica/Helvetica.ttf") format("truetype"), url("../fonts/helvetica/Helvetica.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

body header .top, body .news-div {
  max-width: 1440px;
  margin: 0 auto; }

body .container, body .story-div, body .container-2 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 140px; }

body footer .bottom {
  max-width: 1440px;
  margin: 0 auto;
  padding: 55px 140px; }

body .news-div, body .news-div .more-news .more-news-title, body .container .trending .trending-title, body .container .trending .articles-div, body .container .happening .happening-title, body .container .happening .articles-div, body footer .bottom .email .input-icon, body footer .bottom .social-icons .social-ul, body .story-div .story-div-title, body .story-div .story-div-title .nest, body .story-div .story-div-title .nest .nest-nav ul, body .story-div .story-search, body .story-div .story-search .story .story-text {
  display: flex;
  justify-content: space-between;
  align-items: center; }

body .news-div .more-news .articles-box article .time, body .container .trending .articles-div a .trend-art .art-text .time, body .container .happening .articles-div .large-div .large-art .large-text .time, body .container .happening .articles-div .small-div .small-art .time, body footer .bottom .bottom-nav .bottom-ul, body .container-2 .text-box .text .time {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

body header .top .top-nav .burger .burger-menu, body header .top .top-nav .burger .burger-menu .burger-ul, body header .top .top-nav .burger .burger-menu .burger-footer, body header .top .top-nav .burger .burger-menu .burger-footer .burger-footer-nav .burger-footer-ul, body .container .happening .articles-div .small-div, body .container .happening .articles-div .small-div .small-art, body footer .bottom .email, body .container-2 .text-box .author-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column; }

body footer .bottom, body footer .bottom .bottom-nav, body .container-2 .text-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

body .news-div .world-news .world-news-text article button, body .story-div .story-search .search .inputs-box .search-button {
  border: solid 0px #FA6980;
  border-radius: 8px;
  cursor: pointer; }

body .news-div .more-news .more-news-title .arrows button, body .container .trending .trending-title .arrows button, body .container .happening .happening-title .arrows button {
  border: transparent;
  background-color: transparent;
  cursor: pointer; }

body .story-div .story-search .search .inputs-box .input input {
  background-color: transparent;
  border-radius: 6px;
  border: solid 2px #EBEDED; }

body .news-div .more-news .articles-box article .time img, body .container .trending .articles-div a .trend-art .art-text .time img, body .container .happening .articles-div .large-div .large-art .large-text .time img, body .container .happening .articles-div .small-div .small-art .time img, body .container-2 .text-box .text .time img {
  width: 16px;
  height: 16px;
  margin-right: 10px; }

body header .top .top-nav .burger .burger-menu .burger-ul .burger-li a img, body footer .bottom .email .input-icon .send-button img, body footer .bottom .social-icons .social-ul .social-li img, body .story-div .story-div-title .nest a img, body .story-div .story-div-title button .filter {
  width: 16px;
  height: 16px; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/helvetica/Helvetica.eot");
  src: url("../fonts/helvetica/Helvetica.eot") format("embedded-opentype"), url("../fonts/helvetica/Helvetica.woff2") format("woff2"), url("../fonts/helvetica/Helvetica.woff") format("woff"), url("../fonts/helvetica/Helvetica.ttf") format("truetype"), url("../fonts/helvetica/Helvetica.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/helvetica/Helvetica.eot");
  src: url("../fonts/helvetica/Helvetica.eot") format("embedded-opentype"), url("../fonts/helvetica/Helvetica.woff2") format("woff2"), url("../fonts/helvetica/Helvetica.woff") format("woff"), url("../fonts/helvetica/Helvetica.ttf") format("truetype"), url("../fonts/helvetica/Helvetica.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/helvetica/Helvetica.eot");
  src: url("../fonts/helvetica/Helvetica.eot") format("embedded-opentype"), url("../fonts/helvetica/Helvetica.woff2") format("woff2"), url("../fonts/helvetica/Helvetica.woff") format("woff"), url("../fonts/helvetica/Helvetica.ttf") format("truetype"), url("../fonts/helvetica/Helvetica.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/helvetica/Helvetica.eot");
  src: url("../fonts/helvetica/Helvetica.eot") format("embedded-opentype"), url("../fonts/helvetica/Helvetica.woff2") format("woff2"), url("../fonts/helvetica/Helvetica.woff") format("woff"), url("../fonts/helvetica/Helvetica.ttf") format("truetype"), url("../fonts/helvetica/Helvetica.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

body header .top, body .news-div {
  max-width: 1440px;
  margin: 0 auto; }

body .container, body .story-div, body .container-2 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 140px; }

body footer .bottom {
  max-width: 1440px;
  margin: 0 auto;
  padding: 55px 140px; }

body .news-div, body .news-div .more-news .more-news-title, body .container .trending .trending-title, body .container .trending .articles-div, body .container .happening .happening-title, body .container .happening .articles-div, body footer .bottom .email .input-icon, body footer .bottom .social-icons .social-ul, body .story-div .story-div-title, body .story-div .story-div-title .nest, body .story-div .story-div-title .nest .nest-nav ul, body .story-div .story-search, body .story-div .story-search .story .story-text {
  display: flex;
  justify-content: space-between;
  align-items: center; }

body .news-div .more-news .articles-box article .time, body .container .trending .articles-div a .trend-art .art-text .time, body .container .happening .articles-div .large-div .large-art .large-text .time, body .container .happening .articles-div .small-div .small-art .time, body footer .bottom .bottom-nav .bottom-ul, body .container-2 .text-box .text .time {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

body header .top .top-nav .burger .burger-menu, body header .top .top-nav .burger .burger-menu .burger-ul, body header .top .top-nav .burger .burger-menu .burger-footer, body header .top .top-nav .burger .burger-menu .burger-footer .burger-footer-nav .burger-footer-ul, body .container .happening .articles-div .small-div, body .container .happening .articles-div .small-div .small-art, body footer .bottom .email, body .container-2 .text-box .author-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column; }

body footer .bottom, body footer .bottom .bottom-nav, body .container-2 .text-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

body .news-div .world-news .world-news-text article button, body .story-div .story-search .search .inputs-box .search-button {
  border: solid 0px #FA6980;
  border-radius: 8px;
  cursor: pointer; }

body .news-div .more-news .more-news-title .arrows button, body .container .trending .trending-title .arrows button, body .container .happening .happening-title .arrows button {
  border: transparent;
  background-color: transparent;
  cursor: pointer; }

body .story-div .story-search .search .inputs-box .input input {
  background-color: transparent;
  border-radius: 6px;
  border: solid 2px #EBEDED; }

body .news-div .more-news .articles-box article .time img, body .container .trending .articles-div a .trend-art .art-text .time img, body .container .happening .articles-div .large-div .large-art .large-text .time img, body .container .happening .articles-div .small-div .small-art .time img, body .container-2 .text-box .text .time img {
  width: 16px;
  height: 16px;
  margin-right: 10px; }

body header .top .top-nav .burger .burger-menu .burger-ul .burger-li a img, body footer .bottom .email .input-icon .send-button img, body footer .bottom .social-icons .social-ul .social-li img, body .story-div .story-div-title .nest a img, body .story-div .story-div-title button .filter {
  width: 16px;
  height: 16px; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/helvetica/Helvetica.eot");
  src: url("../fonts/helvetica/Helvetica.eot") format("embedded-opentype"), url("../fonts/helvetica/Helvetica.woff2") format("woff2"), url("../fonts/helvetica/Helvetica.woff") format("woff"), url("../fonts/helvetica/Helvetica.ttf") format("truetype"), url("../fonts/helvetica/Helvetica.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

body {
  background-color: #F6F8F9; }
  body header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    width: 100%;
    background-color: #F6F8F9; }
    body header .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px; }
      body header .top .logo {
        font-family: "Helvetica";
        font-size: 13px;
        font-weight: bold;
        color: #FA6980;
        text-transform: uppercase; }
      body header .top .hide {
        display: none; }
      body header .top .top-nav {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        body header .top .top-nav ul {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          body header .top .top-nav ul li {
            margin-left: 25px; }
            body header .top .top-nav ul li a {
              font-family: "Helvetica";
              font-size: 11px;
              font-weight: bold;
              color: #343638;
              opacity: 50%;
              text-transform: uppercase; }
            body header .top .top-nav ul li .active-page {
              opacity: 1; }
        body header .top .top-nav .hide {
          display: none; }
        body header .top .top-nav .burger {
          display: none;
          margin: 55px 15px 15px 15px; }
          body header .top .top-nav .burger span {
            display: block;
            margin: 2px;
            height: 2px;
            width: 16px;
            background-color: #343638; }
          body header .top .top-nav .burger span:nth-child(2) {
            width: 10px; }
          body header .top .top-nav .burger .burger-menu {
            box-shadow: 1px 0px 47px #000000;
            visibility: hidden;
            height: 100%;
            width: 76%;
            position: fixed;
            top: 0px;
            left: 0px;
            background-color: #F6F8F9; }
            body header .top .top-nav .burger .burger-menu .burger-logo {
              font-family: "Helvetica";
              font-size: 13px;
              font-weight: bold;
              color: #FA6980;
              text-transform: uppercase;
              padding: 40px; }
            body header .top .top-nav .burger .burger-menu .burger-ul {
              padding: 0 40px;
              width: 100%; }
              body header .top .top-nav .burger .burger-menu .burger-ul .burger-li {
                margin: 35px 0; }
                body header .top .top-nav .burger .burger-menu .burger-ul .burger-li a img {
                  margin-right: 30px; }
              body header .top .top-nav .burger .burger-menu .burger-ul .burger-li:last-child a img {
                object-fit: contain;
                clip-path: circle(50% at 50% 50%); }
            body header .top .top-nav .burger .burger-menu .burger-footer {
              width: 100%;
              background-color: #A6ADB4; }
              body header .top .top-nav .burger .burger-menu .burger-footer .burger-footer-nav {
                padding: 40px;
                width: 100%; }
                body header .top .top-nav .burger .burger-menu .burger-footer .burger-footer-nav .burger-footer-ul {
                  max-height: 150px;
                  flex-wrap: wrap; }
                  body header .top .top-nav .burger .burger-menu .burger-footer .burger-footer-nav .burger-footer-ul .burger-footer-li {
                    margin: 0 50px 21px 0;
                    flex-grow: 1; }
                    body header .top .top-nav .burger .burger-menu .burger-footer .burger-footer-nav .burger-footer-ul .burger-footer-li a {
                      font-family: "Helvetica";
                      font-size: 11px;
                      font-weight: bold;
                      color: #CBD0D3; }
              body header .top .top-nav .burger .burger-menu .burger-footer .social-icons {
                padding: 0 40px 40px 40px;
                margin: 0 auto;
                width: 100%; }
        body header .top .top-nav .user {
          margin-left: 45px; }
          body header .top .top-nav .user img {
            height: 30px;
            width: 30px;
            object-fit: contain;
            clip-path: circle(50% at 50% 50%); }
  body .news-div {
    flex-wrap: wrap;
    margin-top: 53px;
    background-color: #FFFFFF; }
    body .news-div .world-news {
      max-width: 835px;
      padding: 175px 140px;
      background-image: url("../images/world-background.jpg");
      background-position: center;
      background-size: cover; }
      body .news-div .world-news .world-news-text h2 {
        font-family: "Helvetica";
        font-size: 24px;
        font-weight: bold;
        color: #FFFFFF;
        text-transform: uppercase;
        line-height: 42px;
        display: block;
        padding-bottom: 40px;
        border-bottom: solid 2px #FFFFFF; }
      body .news-div .world-news .world-news-text article {
        padding-top: 40px; }
        body .news-div .world-news .world-news-text article h4 {
          font-family: "Helvetica";
          font-size: 24px;
          font-weight: bold;
          color: #FFFFFF;
          line-height: 34px; }
        body .news-div .world-news .world-news-text article p {
          font-family: "Helvetica";
          font-size: 16px;
          font-weight: regular;
          color: #FFFFFF;
          margin: 11px 0 32px;
          line-height: 26px; }
        body .news-div .world-news .world-news-text article button {
          font-family: "Helvetica";
          font-size: 11px;
          font-weight: bold;
          color: #FFFFFF;
          background-color: #FA6980;
          text-transform: uppercase;
          padding: 15px 34px; }
        body .news-div .world-news .world-news-text article button:hover {
          transform: scale(1.05); }
    body .news-div .more-news {
      max-width: 595px;
      margin: 100px auto; }
      body .news-div .more-news .more-news-title {
        padding-bottom: 40px;
        border-bottom: solid 2px #EBEDED; }
        body .news-div .more-news .more-news-title h2 {
          font-family: "Helvetica";
          font-size: 24px;
          font-weight: bold;
          color: #202124;
          text-transform: uppercase; }
        body .news-div .more-news .more-news-title .arrows button img {
          height: 10px; }
        body .news-div .more-news .more-news-title .arrows button .left-arrow {
          transform: rotate(180deg);
          opacity: 30%; }
        body .news-div .more-news .more-news-title .arrows button:last-child {
          margin-left: 40px; }
        body .news-div .more-news .more-news-title .arrows button:hover {
          transform: scale(1.5); }
      body .news-div .more-news .articles-box article {
        margin-top: 40px; }
        body .news-div .more-news .articles-box article h3 {
          font-family: "Helvetica";
          font-size: 16px;
          font-weight: bold;
          color: #FA6980;
          text-transform: uppercase;
          margin-bottom: 20px; }
        body .news-div .more-news .articles-box article h4 a {
          font-family: "Helvetica";
          font-size: 16px;
          font-weight: bold;
          color: #202124; }
        body .news-div .more-news .articles-box article .box {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          margin: 13px 0 12px; }
          body .news-div .more-news .articles-box article .box p {
            font-family: "acumin-pro";
            font-size: 16px;
            font-weight: regular;
            color: #A6ADB4;
            max-width: 380px;
            line-height: 26px; }
        body .news-div .more-news .articles-box article .time p {
          font-family: "acumin-pro";
          font-size: 13px;
          font-weight: regular;
          color: #A6ADB4; }
  body .container .trending .trending-title {
    margin-bottom: 40px; }
    body .container .trending .trending-title h2 {
      font-family: "Helvetica";
      font-size: 24px;
      font-weight: bold;
      color: #202124;
      text-transform: uppercase; }
    body .container .trending .trending-title .arrows button img {
      height: 10px; }
    body .container .trending .trending-title .arrows button .left-arrow {
      transform: rotate(180deg);
      opacity: 30%; }
    body .container .trending .trending-title .arrows button:last-child {
      margin-left: 40px; }
    body .container .trending .trending-title .arrows button:hover {
      transform: scale(1.5); }
  body .container .trending .articles-div {
    overflow: hidden; }
    body .container .trending .articles-div a {
      margin-right: 32px; }
      body .container .trending .articles-div a .trend-art {
        max-width: 360px;
        border-radius: 6px;
        background-color: #FFFFFF;
        margin: 0 0 40px;
        display: inline-block; }
        body .container .trending .articles-div a .trend-art img {
          width: 360px;
          height: 180px;
          object-fit: cover;
          border-top-left-radius: inherit;
          border-top-right-radius: inherit; }
        body .container .trending .articles-div a .trend-art .art-text {
          padding: 40px; }
          body .container .trending .articles-div a .trend-art .art-text h4 {
            font-family: "Helvetica";
            font-size: 16px;
            font-weight: bold;
            color: #202124; }
          body .container .trending .articles-div a .trend-art .art-text p {
            font-family: "acumin-pro";
            font-size: 13px;
            font-weight: regular;
            color: #A6ADB4;
            margin: 10px 0 15px;
            line-height: 23px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden; }
          body .container .trending .articles-div a .trend-art .art-text .time p {
            font-family: "acumin-pro";
            font-size: 13px;
            font-weight: regular;
            color: #A6ADB4; }
    body .container .trending .articles-div a:hover {
      transform: scale(1.05); }
  body .container .happening {
    margin-bottom: 60px; }
    body .container .happening .happening-title {
      margin-bottom: 40px; }
      body .container .happening .happening-title h2 {
        font-family: "Helvetica";
        font-size: 24px;
        font-weight: bold;
        color: #202124;
        text-transform: uppercase; }
      body .container .happening .happening-title .arrows button img {
        height: 10px; }
      body .container .happening .happening-title .arrows button .left-arrow {
        transform: rotate(180deg);
        opacity: 30%; }
      body .container .happening .happening-title .arrows button:last-child {
        margin-left: 40px; }
      body .container .happening .happening-title .arrows button:hover {
        transform: scale(1.5); }
    body .container .happening .articles-div {
      align-items: stretch;
      flex-wrap: wrap; }
      body .container .happening .articles-div .large-div {
        margin-bottom: 40px; }
        body .container .happening .articles-div .large-div .large-art {
          width: 760px;
          padding: 40px;
          background-color: transparent;
          border-radius: 6px; }
          body .container .happening .articles-div .large-div .large-art h3 {
            font-family: "Helvetica";
            font-size: 24px;
            font-weight: bold;
            color: #FFFFFF;
            margin-bottom: 235px;
            text-transform: uppercase; }
          body .container .happening .articles-div .large-div .large-art .large-text h4 {
            display: inline-block; }
            body .container .happening .articles-div .large-div .large-art .large-text h4 a {
              font-family: "Helvetica";
              font-size: 24px;
              font-weight: bold;
              color: #FFFFFF; }
          body .container .happening .articles-div .large-div .large-art .large-text h4:hover {
            transform: scale(1.05); }
          body .container .happening .articles-div .large-div .large-art .large-text p {
            font-family: "Helvetica";
            font-size: 16px;
            font-weight: regular;
            color: #FFFFFF;
            max-width: 680px;
            margin: 10px 0 35px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden; }
          body .container .happening .articles-div .large-div .large-art .large-text .time p {
            font-family: "acumin-pro";
            font-size: 13px;
            font-weight: regular;
            color: #A6ADB4;
            margin: 0; }
        body .container .happening .articles-div .large-div .large-art:first-child {
          margin-bottom: 40px; }
        body .container .happening .articles-div .large-div .city {
          background-image: url(../images/large1.jpg);
          background-position: center; }
        body .container .happening .articles-div .large-div .travel {
          background-image: url(../images/large2.jpg);
          background-position: center; }
        body .container .happening .articles-div .large-div .large-art:hover {
          transform: scale(1.05); }
      body .container .happening .articles-div .small-div {
        margin-bottom: 40px; }
        body .container .happening .articles-div .small-div .small-art {
          margin-bottom: 40px; }
          body .container .happening .articles-div .small-div .small-art img {
            width: 360px;
            height: 210px;
            object-fit: cover;
            border-radius: 6px; }
          body .container .happening .articles-div .small-div .small-art h4 {
            margin: 20px 0 15px;
            display: inline-block; }
            body .container .happening .articles-div .small-div .small-art h4 a {
              font-family: "acumin-pro";
              font-size: 16px;
              font-weight: bold;
              color: #202124; }
          body .container .happening .articles-div .small-div .small-art h4:hover {
            transform: scale(1.05); }
          body .container .happening .articles-div .small-div .small-art .time p {
            font-family: "acumin-pro";
            font-size: 13px;
            font-weight: regular;
            color: #A6ADB4; }
            body .container .happening .articles-div .small-div .small-art .time p a {
              font-family: "acumin-pro";
              font-size: 13px;
              font-weight: regular;
              color: #A6ADB4;
              text-decoration: underline; }
        body .container .happening .articles-div .small-div .small-art:hover {
          transform: scale(1.05); }
  body footer {
    background-color: #A6ADB4; }
    body footer .bottom {
      flex-wrap: wrap; }
      body footer .bottom .bottom-nav {
        margin-bottom: 5px; }
        body footer .bottom .bottom-nav .logo {
          font-family: "Helvetica";
          font-size: 13px;
          font-weight: bold;
          color: #FFFFFF;
          text-transform: uppercase;
          margin-right: 55px;
          line-height: 20px; }
        body footer .bottom .bottom-nav .bottom-ul {
          flex-wrap: wrap;
          max-width: 290px; }
          body footer .bottom .bottom-nav .bottom-ul .bottom-nav-li {
            margin-right: 45px;
            margin-bottom: 10px;
            width: 35px;
            flex-grow: 1; }
            body footer .bottom .bottom-nav .bottom-ul .bottom-nav-li a {
              font-family: "Helvetica";
              font-size: 13px;
              font-weight: bold;
              color: #CBD0D3; }
      body footer .bottom .email .input-icon {
        width: 100%;
        border-radius: 6px;
        border: solid 2px #ffffff1a;
        cursor: pointer;
        margin-bottom: 15px; }
        body footer .bottom .email .input-icon input {
          background-color: transparent;
          border: transparent;
          padding: 15px 20px;
          width: 100%; }
        body footer .bottom .email .input-icon input::placeholder {
          font-family: "Helvetica";
          font-size: 13px;
          font-weight: normal;
          color: #CBD0D3; }
        body footer .bottom .email .input-icon .send-button {
          padding: 10px 20px;
          background-color: transparent;
          border-color: transparent; }
        body footer .bottom .email .input-icon .send-button:hover {
          transform: scale(1.5); }
      body footer .bottom .email p {
        font-family: "Helvetica";
        font-size: 11px;
        font-weight: regular;
        color: #CBD0D3; }
      body footer .bottom .social-icons .social-ul .social-li {
        margin-left: 30px; }
        body footer .bottom .social-icons .social-ul .social-li img {
          object-fit: contain; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/helvetica/Helvetica.eot");
  src: url("../fonts/helvetica/Helvetica.eot") format("embedded-opentype"), url("../fonts/helvetica/Helvetica.woff2") format("woff2"), url("../fonts/helvetica/Helvetica.woff") format("woff"), url("../fonts/helvetica/Helvetica.ttf") format("truetype"), url("../fonts/helvetica/Helvetica.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/helvetica/Helvetica.eot");
  src: url("../fonts/helvetica/Helvetica.eot") format("embedded-opentype"), url("../fonts/helvetica/Helvetica.woff2") format("woff2"), url("../fonts/helvetica/Helvetica.woff") format("woff"), url("../fonts/helvetica/Helvetica.ttf") format("truetype"), url("../fonts/helvetica/Helvetica.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

body header .top, body .news-div {
  max-width: 1440px;
  margin: 0 auto; }

body .container, body .story-div, body .container-2 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 140px; }

body footer .bottom {
  max-width: 1440px;
  margin: 0 auto;
  padding: 55px 140px; }

body .news-div, body .news-div .more-news .more-news-title, body .container .trending .trending-title, body .container .trending .articles-div, body .container .happening .happening-title, body .container .happening .articles-div, body footer .bottom .email .input-icon, body footer .bottom .social-icons .social-ul, body .story-div .story-div-title, body .story-div .story-div-title .nest, body .story-div .story-div-title .nest .nest-nav ul, body .story-div .story-search, body .story-div .story-search .story .story-text {
  display: flex;
  justify-content: space-between;
  align-items: center; }

body .news-div .more-news .articles-box article .time, body .container .trending .articles-div a .trend-art .art-text .time, body .container .happening .articles-div .large-div .large-art .large-text .time, body .container .happening .articles-div .small-div .small-art .time, body footer .bottom .bottom-nav .bottom-ul, body .container-2 .text-box .text .time {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

body header .top .top-nav .burger .burger-menu, body header .top .top-nav .burger .burger-menu .burger-ul, body header .top .top-nav .burger .burger-menu .burger-footer, body header .top .top-nav .burger .burger-menu .burger-footer .burger-footer-nav .burger-footer-ul, body .container .happening .articles-div .small-div, body .container .happening .articles-div .small-div .small-art, body footer .bottom .email, body .container-2 .text-box .author-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column; }

body footer .bottom, body footer .bottom .bottom-nav, body .container-2 .text-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

body .news-div .world-news .world-news-text article button, body .story-div .story-search .search .inputs-box .search-button {
  border: solid 0px #FA6980;
  border-radius: 8px;
  cursor: pointer; }

body .news-div .more-news .more-news-title .arrows button, body .container .trending .trending-title .arrows button, body .container .happening .happening-title .arrows button {
  border: transparent;
  background-color: transparent;
  cursor: pointer; }

body .story-div .story-search .search .inputs-box .input input {
  background-color: transparent;
  border-radius: 6px;
  border: solid 2px #EBEDED; }

body .news-div .more-news .articles-box article .time img, body .container .trending .articles-div a .trend-art .art-text .time img, body .container .happening .articles-div .large-div .large-art .large-text .time img, body .container .happening .articles-div .small-div .small-art .time img, body .container-2 .text-box .text .time img {
  width: 16px;
  height: 16px;
  margin-right: 10px; }

body header .top .top-nav .burger .burger-menu .burger-ul .burger-li a img, body footer .bottom .email .input-icon .send-button img, body footer .bottom .social-icons .social-ul .social-li img, body .story-div .story-div-title .nest a img, body .story-div .story-div-title button .filter {
  width: 16px;
  height: 16px; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/helvetica/Helvetica.eot");
  src: url("../fonts/helvetica/Helvetica.eot") format("embedded-opentype"), url("../fonts/helvetica/Helvetica.woff2") format("woff2"), url("../fonts/helvetica/Helvetica.woff") format("woff"), url("../fonts/helvetica/Helvetica.ttf") format("truetype"), url("../fonts/helvetica/Helvetica.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

body .story-div .story-div-title {
  padding-top: 20px;
  padding-bottom: 30px; }
  body .story-div .story-div-title .nest a {
    margin-right: 30px; }
  body .story-div .story-div-title .nest .nest-nav ul li {
    margin-left: 20px;
    line-height: 20px; }
    body .story-div .story-div-title .nest .nest-nav ul li a {
      font-family: "Helvetica";
      font-size: 11px;
      font-weight: bold;
      color: #202124; }
  body .story-div .story-div-title .nest .nest-nav ul li:last-child a {
    color: #A6ADB4; }
  body .story-div .story-div-title .nest .nest-nav ul li:first-child::after {
    content: '\002F';
    font-family: "Helvetica";
    font-size: 11px;
    font-weight: bold;
    color: #202124; }
  body .story-div .story-div-title button {
    background-color: transparent;
    padding: 12px;
    border: solid 2px #EBEDED;
    border-radius: 6px; }
    body .story-div .story-div-title button .filter:hover {
      transform: scale(1.5);
      cursor: pointer; }

body .story-div .story-search {
  background-color: #FFFFFF; }
  body .story-div .story-search .story {
    width: 50%;
    position: relative; }
    body .story-div .story-search .story img {
      width: 100%;
      height: 500px;
      object-fit: cover; }
    body .story-div .story-search .story .story-text {
      position: absolute;
      top: 50%;
      left: 50%;
      flex-direction: column;
      transform: translate(-50%, -50%);
      z-index: 9; }
      body .story-div .story-search .story .story-text h2 {
        font-family: "Helvetica";
        font-size: 32px;
        font-weight: bold;
        color: #FFFFFF;
        text-transform: uppercase;
        line-height: 42px; }
      body .story-div .story-search .story .story-text h2::after {
        content: " ";
        display: block;
        margin: auto;
        height: 2px;
        width: 40px;
        background-color: #FA6980;
        margin-top: 25px; }
      body .story-div .story-search .story .story-text p {
        font-family: "Helvetica";
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 26px;
        padding: 20px 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-height: 42px; }
      body .story-div .story-search .story .story-text .author {
        width: 40px;
        height: 40px;
        clip-path: circle(50% at 50% 50%);
        margin-top: 40px;
        border: solid 2px #FFFFFF;
        border-radius: 50%; }
  body .story-div .story-search .search {
    width: 50%;
    height: 100%;
    padding: 0 110px; }
    body .story-div .story-search .search .inputs-box {
      margin: auto; }
      body .story-div .story-search .search .inputs-box .input {
        margin-bottom: 40px; }
        body .story-div .story-search .search .inputs-box .input label {
          font-family: "acumin-pro";
          font-size: 13px;
          font-weight: bold;
          color: #202124; }
        body .story-div .story-search .search .inputs-box .input input {
          font-family: "Helvetica";
          font-size: 13px;
          font-weight: normal;
          color: #A6ADB4;
          padding: 10px 20px;
          width: 100%;
          margin-top: 10px; }
        body .story-div .story-search .search .inputs-box .input .date::-webkit-calendar-picker-indicator {
          background-image: url(../images/dropdown.svg);
          background-position: center; }
      body .story-div .story-search .search .inputs-box .search-button {
        font-family: "Helvetica";
        font-size: 11px;
        font-weight: bold;
        color: #FFFFFF;
        text-transform: uppercase;
        background-color: #FA6980;
        padding: 15px 45px; }
      body .story-div .story-search .search .inputs-box .search-button:hover {
        transform: scale(1.05); }

body .container-2 {
  padding-top: 0; }
  body .container-2 .text-box {
    padding: 40px 0;
    margin-bottom: 40px;
    border-top: solid 2px #EBEDED;
    border-bottom: solid 2px #EBEDED; }
    body .container-2 .text-box .author-title {
      margin-right: 75px; }
      body .container-2 .text-box .author-title .author {
        width: 40px;
        height: 40px;
        object-fit: cover;
        clip-path: circle(50% at 50% 50%);
        border-radius: 50%;
        margin-bottom: 20px; }
      body .container-2 .text-box .author-title .title {
        font-family: "acumin-pro";
        font-size: 24px;
        font-weight: bold;
        color: #202124;
        line-height: 34px; }
    body .container-2 .text-box .text {
      column-count: 2;
      max-width: 735px; }
      body .container-2 .text-box .text p {
        font-family: "Helvetica";
        font-size: 14px;
        font-weight: normal;
        color: #A6ADB4;
        line-height: 26px; }
      body .container-2 .text-box .text .time {
        margin-top: 20px; }
        body .container-2 .text-box .text .time img {
          margin-right: 8px; }
  body .container-2 .world-article {
    border-bottom: solid 2px #EBEDED;
    margin-bottom: 160px; }
    body .container-2 .world-article img {
      width: 100%;
      border-radius: 6px; }
    body .container-2 .world-article pre {
      font-family: "Helvetica";
      font-size: 14px;
      font-weight: normal;
      color: #A6ADB4;
      line-height: 26px;
      margin: 40px 0;
      max-width: 760px;
      white-space: pre-wrap; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/helvetica/Helvetica.eot");
  src: url("../fonts/helvetica/Helvetica.eot") format("embedded-opentype"), url("../fonts/helvetica/Helvetica.woff2") format("woff2"), url("../fonts/helvetica/Helvetica.woff") format("woff"), url("../fonts/helvetica/Helvetica.ttf") format("truetype"), url("../fonts/helvetica/Helvetica.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/helvetica/Helvetica.eot");
  src: url("../fonts/helvetica/Helvetica.eot") format("embedded-opentype"), url("../fonts/helvetica/Helvetica.woff2") format("woff2"), url("../fonts/helvetica/Helvetica.woff") format("woff"), url("../fonts/helvetica/Helvetica.ttf") format("truetype"), url("../fonts/helvetica/Helvetica.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

body header .top, body .news-div {
  max-width: 1440px;
  margin: 0 auto; }

body .container, body .story-div, body .container-2 {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 140px; }

body footer .bottom {
  max-width: 1440px;
  margin: 0 auto;
  padding: 55px 140px; }

body .news-div, body .news-div .more-news .more-news-title, body .container .trending .trending-title, body .container .trending .articles-div, body .container .happening .happening-title, body .container .happening .articles-div, body footer .bottom .email .input-icon, body footer .bottom .social-icons .social-ul, body .story-div .story-div-title, body .story-div .story-div-title .nest, body .story-div .story-div-title .nest .nest-nav ul, body .story-div .story-search, body .story-div .story-search .story .story-text {
  display: flex;
  justify-content: space-between;
  align-items: center; }

body .news-div .more-news .articles-box article .time, body .container .trending .articles-div a .trend-art .art-text .time, body .container .happening .articles-div .large-div .large-art .large-text .time, body .container .happening .articles-div .small-div .small-art .time, body footer .bottom .bottom-nav .bottom-ul, body .container-2 .text-box .text .time {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

body header .top .top-nav .burger .burger-menu, body header .top .top-nav .burger .burger-menu .burger-ul, body header .top .top-nav .burger .burger-menu .burger-footer, body header .top .top-nav .burger .burger-menu .burger-footer .burger-footer-nav .burger-footer-ul, body .container .happening .articles-div .small-div, body .container .happening .articles-div .small-div .small-art, body footer .bottom .email, body .container-2 .text-box .author-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column; }

body footer .bottom, body footer .bottom .bottom-nav, body .container-2 .text-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

body .news-div .world-news .world-news-text article button, body .story-div .story-search .search .inputs-box .search-button {
  border: solid 0px #FA6980;
  border-radius: 8px;
  cursor: pointer; }

body .news-div .more-news .more-news-title .arrows button, body .container .trending .trending-title .arrows button, body .container .happening .happening-title .arrows button {
  border: transparent;
  background-color: transparent;
  cursor: pointer; }

body .story-div .story-search .search .inputs-box .input input {
  background-color: transparent;
  border-radius: 6px;
  border: solid 2px #EBEDED; }

body .news-div .more-news .articles-box article .time img, body .container .trending .articles-div a .trend-art .art-text .time img, body .container .happening .articles-div .large-div .large-art .large-text .time img, body .container .happening .articles-div .small-div .small-art .time img, body .container-2 .text-box .text .time img {
  width: 16px;
  height: 16px;
  margin-right: 10px; }

body header .top .top-nav .burger .burger-menu .burger-ul .burger-li a img, body footer .bottom .email .input-icon .send-button img, body footer .bottom .social-icons .social-ul .social-li img, body .story-div .story-div-title .nest a img, body .story-div .story-div-title button .filter {
  width: 16px;
  height: 16px; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/helvetica/Helvetica.eot");
  src: url("../fonts/helvetica/Helvetica.eot") format("embedded-opentype"), url("../fonts/helvetica/Helvetica.woff2") format("woff2"), url("../fonts/helvetica/Helvetica.woff") format("woff"), url("../fonts/helvetica/Helvetica.ttf") format("truetype"), url("../fonts/helvetica/Helvetica.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@media (max-width: 1024px) {
  body .news-div .world-news {
    max-width: 100%; }
  body .news-div .more-news {
    max-width: 100%; }
    body .news-div .more-news .articles-box {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap; }
      body .news-div .more-news .articles-box article {
        margin-right: 40px; }
        body .news-div .more-news .articles-box article .box {
          max-width: 285px; }
  body .container .trending .articles-div {
    overflow: hidden; }
    body .container .trending .articles-div a {
      margin-right: 40px; }
      body .container .trending .articles-div a .trend-art img {
        width: 284px;
        height: 180px; }
  body .container .happening .articles-div .large-div .large-art {
    width: 100%; }
    body .container .happening .articles-div .large-div .large-art h3 {
      margin-bottom: 225px; }
    body .container .happening .articles-div .large-div .large-art .large-text p {
      -webkit-line-clamp: 2;
      margin: 10px 0; }
  body .container .happening .articles-div .small-div {
    width: 100%;
    flex-direction: row;
    overflow: hidden; }
    body .container .happening .articles-div .small-div .small-art {
      margin-right: 40px; }
      body .container .happening .articles-div .small-div .small-art img {
        width: 285px;
        height: 180px; }
  body footer .bottom .bottom-nav {
    margin-bottom: 50px;
    width: 100%; }
  body footer .bottom .social-icons {
    align-self: flex-end; } }

@media (max-width: 770px) {
  body .news-div {
    margin-top: 50px; }
    body .news-div .world-news {
      padding: 80px; }
    body .news-div .more-news {
      margin: 80px auto;
      max-width: 608px; }
      body .news-div .more-news .articles-box article {
        margin-right: unset;
        padding-right: 10px; }
  body .container {
    margin: 40px auto;
    padding: 0 60px; }
    body .container .trending {
      max-width: 608px;
      margin: 0 auto; }
      body .container .trending .articles-div {
        overflow: hidden; }
        body .container .trending .articles-div a {
          margin-right: 30px; }
    body .container .happening {
      margin: 0 auto;
      max-width: 608px; }
  body footer .bottom {
    max-width: 608px;
    margin: 0 auto;
    padding: 55px 0px; } }

@media (max-width: 380px) {
  body header .top .logo {
    display: none; }
  body header .top .top-nav .top-nav-ul {
    display: none; }
  body header .top .top-nav .burger {
    display: block; }
  body header .top .top-nav .burger:hover .burger-menu {
    visibility: visible; }
  body header .top .user {
    display: none; }
  body .news-div {
    padding-top: 88px; }
    body .news-div .world-news {
      padding: 40px 25px;
      max-width: 375px; }
      body .news-div .world-news .world-news-text h4 {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden; }
      body .news-div .world-news .world-news-text p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 327px; }
    body .news-div .more-news {
      margin: 40px auto;
      max-width: 327px; }
  body .container {
    margin: 40px auto;
    padding: 0 25px; }
    body .container .trending {
      max-width: 327px; }
      body .container .trending .articles-div {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }
        body .container .trending .articles-div a .trend-art img {
          width: 100%;
          height: 154px; }
    body .container .happening {
      margin: 0 auto;
      max-width: 327px; }
      body .container .happening .articles-div .large-div .large-art {
        padding: 30px 25px; }
        body .container .happening .articles-div .large-div .large-art h3 {
          margin-bottom: 60px; }
        body .container .happening .articles-div .large-div .large-art .large-text p {
          margin: 40px 0 10px; }
      body .container .happening .articles-div .small-div {
        border-top: solid 2px #EBEDED;
        padding: 40px 0;
        flex-direction: column;
        width: 100%; }
        body .container .happening .articles-div .small-div .small-art {
          margin-right: unset; }
          body .container .happening .articles-div .small-div .small-art img {
            width: 100%; }
  body footer {
    display: none; } }

@media (max-width: 1024px) {
  body .container-2 .text-box .author-title {
    margin-right: 55px; }
  body .container-2 .text-box .text {
    column-count: 2;
    max-width: 600px; } }

@media (max-width: 770px) {
  body .story-div {
    margin: 53px auto;
    padding: 0 80px; }
    body .story-div .story-search {
      flex-wrap: wrap; }
      body .story-div .story-search .story {
        width: 100%; }
      body .story-div .story-search .search {
        width: 100%;
        padding: 85px 80px; }
  body .container-2 {
    margin: 53px auto;
    padding: 0 80px; }
    body .container-2 .text-box {
      flex-direction: column; }
      body .container-2 .text-box .author-title {
        margin-bottom: 44px; }
        body .container-2 .text-box .author-title .title {
          max-width: 260px; }
    body .container-2 .world-article {
      margin-bottom: 60px; } }

@media (max-width: 380px) {
  body .story-div {
    margin: 53px auto 40px;
    padding: 0; }
    body .story-div .story-search .story {
      width: 100%; }
      body .story-div .story-search .story img {
        max-height: 388px; }
      body .story-div .story-search .story .story-text {
        width: 100%;
        padding: 0 25px; }
        body .story-div .story-search .story .story-text h2 {
          text-align: center; }
        body .story-div .story-search .story .story-text p {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          max-height: unset;
          text-align: center; }
    body .story-div .story-search .search {
      width: 100%;
      padding: 40px 25px; }
  body .container-2 {
    margin: 50px auto;
    width: 100%;
    padding: 40px 25px; }
    body .container-2 .text-box {
      flex-direction: column; }
      body .container-2 .text-box .author-title {
        margin-bottom: 44px;
        width: 100%; }
        body .container-2 .text-box .author-title .title {
          max-width: 100%; }
      body .container-2 .text-box .text {
        column-count: 1;
        column-gap: 40px; } }
