@import '../modules/variables.scss';
@import '../modules/classes.scss';
@import '../modules/mixins.scss';

//For 1024 Resolution
@media (max-width: 1024px) {
    body {
        .news-div {
            .world-news {
                max-width: 100%;
            }
            .more-news {
                max-width: 100%;
                .articles-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    article {
                        margin-right: 40px;
                        .box {
                            max-width: 285px;
                        }
                    }
                }
            }
        }
        .container {
            .trending {
                .articles-div {
                    overflow: hidden;
                    a{
                        margin-right: 40px;
                        .trend-art {
                            img {
                                width: 284px;
                                height: 180px;
                            }
                        }                 
                    }
                }
            }
            .happening {
                .articles-div {
                    .large-div {
                        .large-art {
                            width: 100%;
                            h3 {
                                margin-bottom: 225px;
                            }
                            .large-text {
                                p {
                                    -webkit-line-clamp: 2;
                                    margin: 10px 0;
                                }
                            }
                        }
                    }
                    .small-div {
                        width: 100%;
                        flex-direction: row;
                        overflow: hidden;
                        .small-art {
                            margin-right: 40px;
                            img {
                                width: 285px;
                                height: 180px;
                            }
                        }
                    }
                }
            }
        }
        footer {
            .bottom {
                .bottom-nav {
                    margin-bottom: 50px;
                    width: 100%;
                }
                .social-icons {
                    align-self: flex-end;
                }
            }
        }
    }
}

//For 770 Resolution
@media (max-width: 770px) {
    body {
        .news-div {
            margin-top: 50px;
            .world-news {
                padding: 80px;
            }
            .more-news {
                margin: 80px auto;
                max-width: 608px;
                .articles-box {
                    article {
                        margin-right: unset;
                        padding-right: 10px;
                    }
                }
            }
        }
        .container {
            margin: 40px auto;
            padding: 0 60px;
            .trending {
                max-width: 608px;
                margin: 0 auto;
                .articles-div {
                    overflow: hidden;
                    a{
                        margin-right: 30px;               
                    }
                }
            }
            .happening {
                margin: 0 auto;
                max-width: 608px;
            }
        }
        footer {
            .bottom {
                max-width: 608px;
                margin: 0 auto;
                padding: 55px 0px;
            }
        }
    }
}

//For 380 Resolution
@media (max-width: 380px) {
    body {
        header {
            .top {
                .logo {
                    display: none;
                }
                .top-nav {
                    .top-nav-ul {
                        display: none;
                    }
                    .burger {
                        display: block;
                    }
                    .burger:hover {
                        .burger-menu {
                            visibility: visible;
                        }
                    }
                }
                .user {
                    display: none;
                }
            }
        }
        .news-div {
            padding-top: 88px;
            .world-news {
                padding: 40px 25px;
                max-width: 375px;
                .world-news-text {
                    h4 {
                        display: -webkit-box;
                        -webkit-line-clamp: 1;   
                        -webkit-box-orient: vertical;     
                        overflow: hidden;
                    }
                    p {
                        display: -webkit-box;
                        -webkit-line-clamp: 3;   
                        -webkit-box-orient: vertical;     
                        overflow: hidden;
                        max-width: 327px;
                    }
                }
            }
            .more-news {
                margin: 40px auto;
                max-width: 327px;
            }
        }
        .container {
            margin: 40px auto;
            padding: 0 25px;
            .trending {
                max-width: 327px;
                .articles-div {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;   
                    -webkit-box-orient: vertical;     
                    overflow: hidden;
                    a{
                        .trend-art {
                            img {
                                width: 100%;
                                height: 154px;
                            }
                        }               
                    }
                }
            }
            .happening {
                margin: 0 auto;
                max-width: 327px;
                .articles-div {
                    .large-div {
                        .large-art {
                            padding: 30px 25px;
                            h3 {
                                margin-bottom: 60px;
                            }
                            .large-text {
                                p {
                                    margin: 40px 0 10px;
                                }
                            }
                        }
                    }
                    .small-div {
                        border-top: solid 2px $color6;
                        padding: 40px 0;
                        flex-direction: column;
                        width: 100%;
                        .small-art {
                            margin-right: unset;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        footer {
            display: none;
        }
    }
}