@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica/Helvetica.eot');
    src: url('../fonts/helvetica/Helvetica.eot') format('embedded-opentype'),
        url('../fonts/helvetica/Helvetica.woff2') format('woff2'),
        url('../fonts/helvetica/Helvetica.woff') format('woff'),
        url('../fonts/helvetica/Helvetica.ttf') format('truetype'),
        url('../fonts/helvetica/Helvetica.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}