@import './variables.scss';


%container {
    max-width: $size1;
    margin: 0 auto;
}

%font1 {
    font-family: $font2,'sans-serif';
    font-weight: 400;
    font-style: normal;
}

%flex1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%flex2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

%button1 {
    border: solid 0px $color2;
    border-radius: 8px;
}