@import './variables.scss';


%container {
    max-width: $size1;
    margin: 0 auto;
}

%container2 {
    max-width: $size1;
    margin: 0 auto;
    padding: 40px 140px;
}

%container3 {
    max-width: $size1;
    margin: 0 auto;
    padding: 55px 140px;
}

%font1 {
    font-family: $font2,'sans-serif';
    font-weight: 400;
    font-style: normal;
}

%flex1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%flex2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

%flex3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

%flex4 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

%button1 {
    border: solid 0px $color2;
    border-radius: 8px;
}

%clock {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

%icon {
    width: 16px;
    height: 16px;
}