@import '../basic/fonts.scss';

// Fonts
$color1: #343638;
$color2: #FA6980;
$color3: #FFFFFF;
$color4: #A6ADB4;


$font1: 'Helvetica';
$font2: 'acumin-pro';

$font-size1: 13px;
$font-size2: 11px;
$font-size3: 24px;
$font-size4: 16px;

// Object Sizes
$size1: 1440px;

// Object Colors
$color01: #F6F8F9;